@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
.root,
#root,
#docs-root {
  --bgcolor: #0b0418;
  --scndcolor: #2B053E;
  --txcolor: rgb(250, 204, 21);
  --linkcolor: rgb(223, 223, 223);
}

@layer components {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&family=Poppins:wght@100;400;500;600;700&display=swap');

  html {
    background-color: #0b0418;
  }

  /* a:hover {
    color: rgb(255, 230, 0);
  } */

  body {
    font-family: 'Poppins', "Paytone One", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    background-color: #0b0418;
  }

  #community-list {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;

  }

  #games-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: auto;
  }

  .heading {
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(250, 204, 21)
  }

  .mybutton {
    background-color: blue;
    padding: 3px;
    border-radius: 0.1rem
  }

  @media only screen and (max-width: 1550px) {
    #community-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #games-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 1080px) {
    #community-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #games-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 680px) {
    #nav-pc {
      display: none;
    }

    #community-list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #games-list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media only screen and (min-width: 681px) {
    #hamburger-icon {
      display: none;
    }
  }

  #hamburger-icon {
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    cursor: pointer;
  }

  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    border-radius: 10%;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
  }

  .list-item {
    margin: 8px 2px;
    padding: 4px;
    padding-top: 6px;
    font-weight: 700;
    color: rgb(153, 153, 153);
    font-family: 'Montserrat';
  }

  .list-item:hover a:hover {
    color: rgb(223, 223, 223)
  }

  #invoices {
    height: 68vh;
  }

  .invoice-header {
    height: 32px;
    flex: 1 0 21%;
  }

  .invoice {
    height: 36px;
    flex: 1 0 21%;
    padding: 8px;
  }

  .basket-badge {
    position: relative;
    left: 18px;
    bottom: -10px;
  }

  .basket-item {
    height: 42px;
    flex: 1 0 21%;
    margin-top: auto;
  }

  #live-page {
    color: rgb(255, 230, 0);
  }
}

@import 'bulma/css/bulma.min.css';